html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
    position: fixed;
    height: 2em;
    bottom: 0;
    width: 100%;
    background: rgba(200, 200, 200, 0.5);
}

#map {
  height: 100%;
}
